<form id="nDirForm" class="user" method="POST" role="form" action="">
        {{ form.csrf_token }}
    <div class="modal-header">
        <h4 class="modal-title">Modificar Direcci&oacute;n Actual</h4>
    </div>

    <div class="modal-body">
        <div id="modalErrors" class="alert-danger">
        </div>
        <div class="form-group row">
            <div class="col-sm-3">
                {{ form.tipo_via.label(class_="pl-3") }}
                {{ form.tipo_via(class_="form-control form-control-user") }}
            </div>
            <div class="col-sm-6">
                {{ form.nombre_via.label(class_="pl-3") }}
                {{ form.nombre_via(class_="form-control form-control-user") }}
            </div>
            <div class="col-sm-3">
                {{ form.nro_via.label(class_="pl-3") }}
                {{ form.nro_via(class_="form-control form-control-user") }}
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-3">
                {{ form.portalescalotros_via.label(class_="pl-3") }}
                {{ form.portalescalotros_via(class_="form-control form-control-user") }}
            </div>
            <div class="col-sm-3">
                {{ form.piso_nroletra_via.label(class_="pl-3") }}
                {{ form.piso_nroletra_via(class_="form-control form-control-user") }}
            </div>
            <div class="col-sm-6">
                {{ form.ciudad_via.label(class_="pl-3") }}
                {{ form.ciudad_via(class_="form-control form-control-user") }}
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-2">
                {{ form.cp_via.label(class_="pl-3") }}
                {{ form.cp_via(class_="form-control form-control-user") }}
            </div>
            <div class="col-sm-5">
                {{ form.provincia_via.label(class_="pl-3") }}
                {{ form.provincia_via(class_="form-control form-control-user") }}
            </div>
            <div class="col-sm-5">
                {{ form.pais_via.label(class_="pl-3") }}
                {{ form.pais_via(class_="form-control form-control-user") }}
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-4 text-center"></div>
            <div class="col-sm-2 text-center">
                <a id="btnModifDirActual" class="btn btn-primary btn-block text-white font-weight-bold">Guardar</a>
            </div>
            <div class="col-sm-2  text-center">
                <a class="btn btn-danger btn-block text-white font-weight-bold" data-dismiss="modal">Cancelar</a>
            </div>
            <div class="col-sm-4 text-center"></div>
        </div>
    </div>

</form>