<!-- app/templates/familias/base_familias.html -->

{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}

{% block title %}
Churching - Familias
{% endblock %}

{% block body %}
{% if current_user.is_authenticated %}
{% if current_user.is_admin %}

{% include "home/_sidebar.html" %}

<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">

  <!-- Main Content -->
  <div id="content">

    {% include "home/_topbar.html" %}

    {% if flag_accion == "Listar" %}
    {% include "familias/tabla_familias.html" %}
    <script src="{{ url_for('static', filename='js/familias_listar.min.js') }}"></script>
    {% elif flag_accion == "Agregar" %}
    {% include "familias/agregar_familia.html" %}
    <script src="{{ url_for('static', filename='js/familias_agregar.min.js') }}"></script>
    {% elif flag_accion == "Modificar" %}
    {% include "familias/modificar_familia.html" %}
    <script src="{{ url_for('static', filename='js/familias_modificar.min.js') }}"></script>
    {% elif flag_accion == "ListarCompo" %}
    {% include "familias/cambiar_composicion_listado.html" %}
    <script src="{{ url_for('static', filename='js/familias_listar.min.js') }}"></script>
    {% elif flag_accion == "AsignarCompo" %}
    {% include "familias/cambiar_composicion_asignar.html" %}
    <script src="{{ url_for('static', filename='js/familias_asignar.min.js') }}"></script>
    {% endif %}

  </div>
  <!-- End of Main Content -->

  {% include "home/_footer.html" %}

</div>
<!-- End of Content Wrapper -->
{% endif %}
{% endif %}
{% endblock %}