<!-- app/templates/auth/login.html -->

{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Churching - Login{% endblock %}

{% block body %}
<!--<body class="bg-gradient-primary">-->

<div style="width: 100%;height:100vh;" class="bg-gradient-primary">
  <div class="container ">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Bienvenido</h1>
                  </div>
                  {% with messages = get_flashed_messages(with_categories=true) %}
                    <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
                    {% if messages %}
                      {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <!-- <strong>Title</strong> --> {{ message }}
                        </div>
                      {% endfor %}
                    {% endif %}
                  {% endwith %}
                  <form class="user" method="POST" role="form" action="">
                    {{ form.csrf_token }}
                    <div class="form-group">
                      {{form.email.label}}
                      {{ form.email(class_="form-control form-control-user") }}
                    </div>
                    <div class="form-group">
                      {{form.password.label}}
                      {{ form.password(class_="form-control form-control-user") }}
                    </div>
                    <input type="submit" id="submit" name="submit" class="btn btn-primary btn-user btn-block" value="Login" />
                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="{{ url_for('auth.register') }}">Registrarse</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>

{% endblock %}
