<!-- app/templates/extras/estadosciviles/agregar_editar_tipomiembro.html -->

{% if current_user.is_authenticated %}
{# En general a todo menos a Seguimiento y Ausencias pueden acceder Editores y Admin #}
{% if current_user.get_urole() >= 1 %}

{% set nombre = "Tipo de Miembro" %}
{% if add_tipomiembro %}
{%    set modo = 'Agregar' %}
{% else %}
{%    set modo = 'Modificar' %}
{% endif %}

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 my-3 alert alert-primary"> {{modo}} {{nombre}} </h1>
    <div class="col-12">
      <div class="card shadow">
          <div class="card-header py-3">
              <h6 class="font-weight-bold text-primary">
                  Datos
          </div>
        <div class="card-body">
          <form class="user" method="POST" role="form" action="">
            {{ form.csrf_token }}
              <div class="form-group">
              {{form.nombre_tm.label}}
              {{ form.nombre_tm(class_="form-control form-control-user") }}
            </div>
            <div class="form-group">
              {{ form.descripcion_tm.label }}
              {{ form.descripcion_tm(class_="form-control form-control-user") }}
            </div>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-4">
                  <input type="submit" id="submit" name="submit" class="font-weight-bold btn btn-primary btn-block btn-lg" value="Guardar" />
                </div>
                <div class="col-4">
                  <a class="font-weight-bold btn btn-danger btn-lg btn-block" href="{{ url_for("extras.ver_tiposmiembros")}}">Cancelar</a>
                </div>
                <div class="col-2"></div>
              </div>
          </form>

          </div>
        </div>
        <div class="col-1"></div>
        {% endif %}
        {% endif %}