<!-- app/templates/extras/tiposmiembros/tiposmiembros.html -->

{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Tipos de Miembros{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {% with errors = get_flashed_messages(category_filter=["user"]) %}
        {% if messages %}
          {{ message }}
        {% endif %}
      {% endwith %}
        <br/>
        <h1 style="text-align:center;">Tipos de Miembros</h1>
        {% if tiposmiembros %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="15%"> Nombre </th>
                  <th width="40%"> Descripci&oacute;n </th>
                  <th width="15%"> # Personas </th>
                  <th width="15%"> Modificar </th>
                  <th width="15%"> Borrar </th>
                </tr>
              </thead>
              <tbody>
              {% for tipomiembro in tiposmiembros %}
                <tr>
                  <td> {{ tipomiembro.nombre }} </td>
                  <td> {{ tipomiembro.descripcion }} </td>
                  <td>
                    {% if tipomiembro.miembros %}
                      {{ tipomiembro.miembros.count() }}
                    {% else %}
                      0
                    {% endif %}
                  </td>
                  <td>
                    <a href="{{ url_for('extras.edit_tipomiembro', id=tipomiembro.id) }}">
                      <i class="fa fa-pencil"></i> Modificar
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('extras.delete_tipomiembro', id=tipomiembro.id) }}">
                      <i class="fa fa-trash"></i> Borrar
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No se ha agregado Tipos de Miembros. </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('extras.add_tipomiembro') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Agregar Tipo de Miembro
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}