<!-- app/templates/extras/tiposmiembros/tipomiembro.html -->

{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
    {% if add_tipomiembro %}
        Agregar Tipo de Miembro
    {% else %}
        Modificar Tipo de Miembro
    {% endif %}
{% endblock %}
{% block body %}
<div class="content-section">
 <div class="outer">
    <div class="middle">
      <div class="inner">
        <div class="center">
            {% if add_tipomiembro %}
                <h1>Agregar Tipo de Miembro</h1>
            {% else %}
                <h1>Modificar Tipo de Miembro</h1>
            {% endif %}
            <br/>
            {{ wtf.quick_form(form) }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}