<!-- app/templates/home/_sidebar.html -->

<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  <!-- Sidebar - Brand -->
  <div class="sidebar-brand d-flex align-items-center justify-content-center">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-cross"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Churching<sup></sup></div>
  </div>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="{{url_for("home.homepage")}}">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Panel de Control</span>
    </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Gesti&Oacute;n de Personas
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePer" aria-expanded="true"
      aria-controls="collapseTwo">
      <i class="fas fa-fw fa-user"></i>
      <span>Personas</span>
    </a>
    <div id="collapsePer" class="collapse" aria-labelledby="headingPer" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item text-wrap" href="{{ url_for('miembros.ver_miembros') }}">
          <i class="fas fa-plus fa-sm fa-fw mr-2 text-gray-400"></i>
          Gestionar Personas
        </a>
        <a class="collapse-item text-wrap" href="{{ url_for('familias.ver_familias_asignar') }}">
          <i class="fas fa-users fa-sm fa-fw mr-2 text-gray-400"></i>
          Asignar Personas a Familias
        </a>
        <a class="collapse-item text-wrap" href="{{ url_for('ggcc.ver_ggcc_asignar') }}">
          <i class="fas fa-people-carry fa-sm fa-fw mr-2 text-gray-400"></i>
          Asignar Personas a GGCC
        </a>
        <a class="collapse-item text-wrap" href="{{ url_for('roles.asignar_roles', flag='R') }}">
            <i class="fas fa-dice-d20 fa-sm fa-fw mr-2 text-gray-400"></i>
            Asignar Roles a Personas
        </a>
        <a class="collapse-item text-wrap" href="{{ url_for('roles.asignar_roles', flag='M') }}">
            <i class="fas fa-project-diagram fa-sm fa-fw mr-2 text-gray-400"></i>
            Asignar Personas a Ministerios
        </a>
        <a class="collapse-item text-wrap" href="{{ url_for('roles.asignar_roles', flag='C') }}">
            <i class="fas fa-chalkboard-teacher fa-sm fa-fw mr-2 text-gray-400"></i>
            Asignar Personas a Clases
        </a>

      </div>
    </div>
  </li>
  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFam" aria-expanded="true"
        aria-controls="collapseTwo">
        <i class="fas fa-fw fa-users"></i>
        <span>Familias</span>
      </a>
      <div id="collapseFam" class="collapse" aria-labelledby="headingFam" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item text-wrap" href="{{ url_for('familias.ver_familias') }}">
            <i class="fas fa-plus fa-sm fa-fw mr-2 text-gray-400"></i>
            Gestionar Familias
          </a>
          <a class="collapse-item text-wrap" href="{{ url_for('familias.ver_familias_asignar') }}">
            <i class="fas fa-edit fa-sm fa-fw mr-2 text-gray-400"></i>
            Agregar o quitar integrantes
          </a>
        </div>
      </div>
    </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Gesti&Oacute;n de Grupos y Ministerios
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseGGCC" aria-expanded="true"
      aria-controls="collapsePages">
      <i class="fas fa-fw fa-people-carry"></i>
      <span>Grupos Caseros</span>
    </a>
    <div id="collapseGGCC" class="collapse" aria-labelledby="headingGGCC" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item text-wrap" href="{{ url_for('ggcc.ver_ggcc') }}">
          <i class="fas fa-plus fa-sm fa-fw mr-2 text-gray-400"></i>
          Gestionar Grupo Casero
        </a>
        <a class="collapse-item text-wrap" href="{{ url_for('ggcc.ver_ggcc_asignar') }}">
          <i class="fas fa-edit fa-sm fa-fw mr-2 text-gray-400"></i>
          Agregar integrantes
        </a>
      </div>
    </div>
  </li>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRol" aria-expanded="true"
      aria-controls="collapsePages">
      <i class="fas fa-fw fa-bullseye"></i>
      <span>Responsabiliades</span>
    </a>
    <div id="collapseRol" class="collapse" aria-labelledby="headingRol" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item text-wrap" href="{{ url_for('roles.ver_roles', flag='R') }}">
          <i class="fas fa-dice-d20 fa-sm fa-fw mr-2 text-gray-500"></i>
          Gestionar Roles
        </a>
        <a class="collapse-item text-wrap" href="{{ url_for('roles.ver_roles', flag='M') }}">
          <i class="fas fa-project-diagram fa-sm fa-fw mr-2 text-gray-500"></i>
          Gestionar Ministerios
        </a>
        <a class="collapse-item text-wrap" href="{{ url_for('roles.ver_roles', flag='C') }}">
          <i class="fas fa-chalkboard-teacher  fa-sm fa-fw mr-2 text-gray-500"></i>
          Gestionar Clases
        </a>
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Gesti&Oacute;n de Datos Extras
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCat" aria-expanded="true"
      aria-controls="collapsePages">
      <i class="fas fa-fw fa-database"></i>
      <span>Categor&iacute;as</span>
    </a>
    <div id="collapseCat" class="collapse" aria-labelledby="headingCat" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item text-wrap" href="{{ url_for('extras.ver_estadosciviles') }}">
          <i class="fas fa-ring fa-sm fa-fw mr-2 text-gray-400"></i>
          Gestionar Estados Civiles
        </a>
        <a class="collapse-item text-wrap" href="{{ url_for('extras.ver_tiposmiembros') }}">
          <i class="fas fa-user-tag fa-sm fa-fw mr-2 text-gray-400"></i>
          Gestionar Tipos de Miembros
        </a>
        <a class="collapse-item text-wrap" href="{{ url_for('extras.ver_rolesfamiliares') }}">
          <i class="fas fa-baby fa-sm fa-fw mr-2 text-gray-400"></i>
          Gestionar Roles Familiares
        </a>
        <a class="collapse-item text-wrap" href="{{ url_for('extras.ver_tiposfamilias') }}">
          <i class="fas fa-tags fa-sm fa-fw mr-2 text-gray-400"></i>
          Gestionar Tipos de Familias
        </a>
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Seguimiento e Informes
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSeg" aria-expanded="true"
      aria-controls="collapsePages">
      <i class="fas fa-fw fa-compass"></i>
      <span>Seguimientos & Ausencias</span>
    </a>
    <div id="collapseSeg" class="collapse" aria-labelledby="headingSeg" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        {% if current_user.get_urole() == 2 %}
        <a class="collapse-item text-wrap" href="buttons.html">
          <i class="fas fa-plus fa-sm fa-fw mr-2 text-gray-400"></i>
          Crear una entrada de Seguimiento
        </a>
        <a class="collapse-item text-wrap" href="buttons.html">
          <i class="fas fa-glasses fa-sm fa-fw mr-2 text-gray-400"></i>
          Revisar entradas de Seguimiento
        </a>
        {% endif %}
        <a class="collapse-item text-wrap" href="cards.html">
          <i class="fas fa-plus fa-sm fa-fw mr-2 text-gray-400"></i>
          Registrar a asistencia
        </a>
        <a class="collapse-item text-wrap" href="cards.html">
          <i class="fas fa-calendar fa-sm fa-fw mr-2 text-gray-400"></i>
          Revisar asistencia
        </a>
      </div>
    </div>
  </li>


  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSeg" aria-expanded="true"
      aria-controls="collapsePages">
      <i class="fas fa-fw fa-scroll"></i>
      <span>Informes</span>
    </a>
    <div id="collapseSeg" class="collapse" aria-labelledby="headingSeg" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item text-wrap" href="buttons.html">
          <i class="fas fa-plus fa-sm fa-fw mr-2 text-gray-400"></i>
          Informe a
        </a>
        <a class="collapse-item text-wrap" href="buttons.html">
          <i class="fas fa-glasses fa-sm fa-fw mr-2 text-gray-400"></i>
          Informe a
        </a>
        <a class="collapse-item text-wrap" href="cards.html">
          <i class="fas fa-plus fa-sm fa-fw mr-2 text-gray-400"></i>
          Informe a
        </a>
        <a class="collapse-item text-wrap" href="cards.html">
          <i class="fas fa-calendar fa-sm fa-fw mr-2 text-gray-400"></i>
          Informe a
        </a>
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
<!-- End of Sidebar -->