<!-- app/templates/extras/gruposcaseros/grupocasero.html -->

{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
    {% if add_grupocasero %}
        Agregar Grupo Casero
    {% else %}
        Modificar Grupo Casero
    {% endif %}
{% endblock %}
{% block body %}
<div class="content-section">
 <div class="outer">
    <div class="middle">
      <div class="inner">
        <div class="center">
            {% if add_grupocasero %}
                <h1>Agregar Grupo Casero</h1>
            {% else %}
                <h1>Modificar Grupo Casero</h1>
            {% endif %}
            <br/>
            {{ wtf.quick_form(form) }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}