<!-- app/templates/extras/roles/roles.html -->

{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Roles{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Roles o Responsabilidades</h1>
        {% if roles %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="15%"> Nombre </th>
                  <th width="40%"> Descripci&oacute;n </th>
                  <th width="15%"> # Personas </th>
                  <th width="15%"> Modificar </th>
                  <th width="15%"> Borrar </th>
                </tr>
              </thead>
              <tbody>
              {% for rol in roles %}
                <tr>
                  <td> {{ rol.nombre }} </td>
                  <td> {{ rol.descripcion }} </td>
                  <td>
                    {% if rol.miembros %}
                      {{ rol.miembros.count() }}
                    {% else %}
                      0
                    {% endif %}
                  </td>
                  <td>
                    <a href="{{ url_for('extras.edit_rol', id=rol.id) }}">
                      <i class="fa fa-pencil"></i> Modificar 
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('extras.delete_rol', id=rol.id) }}">
                      <i class="fa fa-trash"></i> Borrar 
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No se han agregado Roles o Responsabilidades. </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('extras.add_rol') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Agregar Rol
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}