<!-- app/templates/extras/miembros/miembros.html -->

{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Miembros{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Miembros</h1>
        {% if miembros %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="15%"> Nombre y Apellidos </th>
                  <th width="30%"> Familia </th>
                  <th width="30%"> Parentezco </th>
                  <th width="30%"> Grupo Casero </th>
                  <th width="30%"> Rol/es </th>
                  <th width="30%"> Estado Civil </th>
                  <th width="30%"> Tipo de Miembro </th>
                  <th width="15%"> Asignar </th>
                </tr>
              </thead>
              <tbody>
              {% for miembro in miembros %}
                    <tr>
                      <td> {{ miembro.nombres }} {{ miembro.apellidos }} </td>
   
                      <td>
                        {% if miembro.familia %}
                          {{ miembro.familia.apellidos_familia }}
                        {% else %}
                          -
                        {% endif %}
                      </td>
   
                      <td>
                        {% if miembro.parentezco %}
                          {{ miembro.parentezco.nombre }}
                        {% else %}
                          -
                        {% endif %}
                      </td>
   
                      <td>
                        {% if miembro.grupocasero %}
                          {{ miembro.grupocasero.nombre_grupo }}
                        {% else %}
                          -
                        {% endif %}
                      </td>
   
                      <td>
                        {% if miembro.rol %}
                          {{ miembro.rol.nombre }}
                        {% else %}
                          -
                        {% endif %}
                      </td>

                      <td>
                        {% if miembro.estadocivil %}
                          {{ miembro.estadocivil.nombre }}
                        {% else %}
                          -
                        {% endif %}
                      </td>

                      <td>
                        {% if miembro.tipomiembro %}
                          {{ miembro.tipomiembro.nombre }}
                        {% else %}
                          -
                        {% endif %}
                      </td>

                      <td>
                        <a href="{{ url_for('extras.assign_miembro', id=miembro.id) }}">
                          <i class="fa fa-user-plus"></i> Asignar
                        </a>
                      </td>
                    </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}