<!-- app/templates/roles/agregar_editar_rol.html -->

{% if current_user.is_authenticated %}
{# En general a todo menos a Seguimiento y Ausencias pueden acceder Editores y Admin #}
{% if current_user.get_urole() >= 1 %}


{%  if (flag_tiporol == 'R') %}
{%     set nombre = 'Rol' %}
{%  elif (flag_tiporol == 'M') %}
{%     set nombre = 'Ministerio' %}
{%  elif (flag_tiporol == 'C') %}
{%     set nombre = 'Clase' %}
{% endif %}

{% if add_rol %}
{%     set modo = 'Agregar' %}
{% else %}
{%     set modo = 'Modificar' %}
{% endif %}


<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 my-3 alert alert-primary"> {{modo}} {{nombre}} </h1>
  <div class="col-12">
    <div class="card shadow">
      <h5 class="card-header py-3">
          Datos
      </h5>
      <div class="card-body">
        <form class="user" method="POST" role="form" action="">
          {{ form.csrf_token }}
          <div class="form-group">
            {{form.nombre_rol.label}}
            {{ form.nombre_rol(class_="form-control form-control-user") }}
          </div>
          <div class="form-group">
            {{form.descripcion_rol.label}}
            {{ form.descripcion_rol(class_="form-control form-control-user") }}
          </div>
          <div class="form-group">
            {{form.tipo_rol.label}}
            {{ form.tipo_rol(class_="form-control form-control-user",readonly=true,value=nombre) }}
          </div>
          <div class="row">
            <div class="col-2"></div>
            <div class="col-4">
              <input type="submit" id="submit" name="submit" class="font-weight-bold btn btn-primary btn-block btn-lg"
                value="Guardar" />
            </div>
            <div class="col-4">
              <a class="font-weight-bold btn btn-danger btn-lg btn-block"
                href="{{ url_for('roles.ver_roles', flag=flag_tiporol) }}">Cancelar</a>
            </div>
            <div class="col-2"></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endif %}