<!-- app/templates/miembros/modificar_miembro.html -->

{% if current_user.is_authenticated %}
{# En general a todo menos a Seguimiento y Ausencias pueden acceder Editores y Admin #}
{% if current_user.get_urole() >= 1 %}

{%     set nombre = 'Miembro' %}
{%     set nombres = 'Miembros' %}
{%     set modo = 'Modificar' %}

<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 my-3 alert alert-primary"> {{modo}} {{nombre}} </h1>
  <div class="col-12">
    <div class="card shadow">
      <h5 class="card-header py-3">
        Datos Generales
      </h5>
      <div class="card-body">
        <form id="tbModificarMiembro" method="POST" role="form" action="">
          {{ form.csrf_token }}
          {{ form.id_direccion }}
          {{ form.id }}
          <div class="form-group row">
            <div class="col-5">
              {{ form.nombres.label(class_="pl-3") }}
              {{ form.nombres(class_="form-control form-control-user") }}
            </div>
            <div class="col-5">
              {{ form.apellidos.label(class_="pl-3") }}
              {{ form.apellidos(class_="form-control form-control-user") }}
            </div>
            <div class="col-2">
              {{ form.dni_doc.label(class_="pl-3") }}
              {{ form.dni_doc(class_="form-control form-control-user") }}
            </div>
          </div>
          <div class="form-group row">
            <div class="col-6">
              {{ form.email.label(class_="pl-3") }}
              {{ form.email(class_="form-control form-control-user") }}
            </div>
            <div class="col-3">
              {{ form.telefono_movil.label(class_="pl-3") }}
              {{ form.telefono_movil(class_="form-control form-control-user") }}
            </div>
            <div class="col-3">
              {{ form.telefono_fijo.label(class_="pl-3") }}
              {{ form.telefono_fijo(class_="form-control form-control-user") }}
            </div>
          </div>
          <div class="form-group row">
            <div class="col-3">
              {{ form.fecha_nac.label(class_="pl-3") }}
              {{ form.fecha_nac(class_="form-control", type="date") }}
            </div>
            <div class="col-3">
              {{ form.fecha_inicio_icecha.label(class_="pl-3") }}
              {{ form.fecha_inicio_icecha(class_="form-control", type="date") }}
            </div>
            <div class="col-3">
              {{ form.fecha_miembro.label(class_="pl-3") }}
              {{ form.fecha_miembro(class_="form-control", type="date") }}
            </div>
            <div class="col-3">
              {{ form.fecha_bautismo.label(class_="pl-3") }}
              {{ form.fecha_bautismo(class_="form-control", type="date") }}
            </div>
          </div>
          <div class="form-group row">
            <div class="col-6">
              {{ form.lugar_bautismo.label(class_="pl-3") }}
              {{ form.lugar_bautismo(class_="form-control form-control-user") }}
            </div>
            <div class="col-2">
              {{ form.hoja_firmada.label(class_="pl-3") }}
              {{ form.hoja_firmada(class_="form-control form-control-user") }}
            </div>
            <div class="col-4">
              {{ form.nro_hoja.label(class_="pl-3") }}
              {{ form.nro_hoja(class_="form-control form-control-user") }}
            </div>
          </div>
          <div class="form-group row">
            <div class="col-4 input-group-lg">
              {{ form.EstadoCivil.label(class_="pl-3") }}
              {{ form.EstadoCivil(class_="form-control custom-select text-lg") }}
            </div>
            <div class="col-4 input-group-lg">
              {{ form.TipoMiembro.label(class_="pl-3") }}
              {{ form.TipoMiembro(class_="form-control custom-select text-lg") }}
            </div>
            <div class="col-4 input-group-lg">
              {{ form.RolFamiliar.label(class_="pl-3") }}
              {{ form.RolFamiliar(class_="form-control custom-select text-lg") }}
            </div>
          </div>
          <div class="form-group row">
            <div class="col-6 input-group-lg">
              {{ form.Familia.label(class_="pl-3") }}
              {{ form.Familia(class_="form-control custom-select text-lg") }}
            </div>
            <div class="col-6 input-group-lg">
              {{ form.GrupoCasero.label(class_="pl-3") }}
              {{ form.GrupoCasero(class_="form-control custom-select text-lg") }}
            </div>
          </div>
          <div class="form-group row">
            <div class="col-12">
              {{ form.observaciones.label(class_="pl-3") }}
              {{ form.observaciones(class_="form-control form-control-user") }}
            </div>
          </div>
          <div class="form-group row">
              <div id="formerrors" class="col-12 text-danger">
              </div>
          </div>

          <div class="form-group row d-none mt-5" id="cardBodyButtons">
            <div class="col-3"></div>
            <input type="submit" class="btn btn-primary col-2 text-white font-weight-bold" id="btnModificarMiembro" value="Modificar {{nombre}}">
            <div class="col-2"></div>
            <a class="btn btn-danger col-2 text-white font-weight-bold"
              href='{{ url_for("miembros.ver_miembros") }}'>Cancelar</a>
            <div class="col-3"></div>
          </div>
        </form>
      </div>
    </div>


    <div class="card s mt-3">
      <h5 class="card-header">Direcci&oacute;n Familiar</h5>
      <div class="card-body" id="cardBodyDir">
        <div class="form_dir-group row">
          <div class="col-sm-3">
            {{ form_dir.tipo_via.label(class_="pl-3") }}
            {{ form_dir.tipo_via(class_="form-control form-control-user", readonly=true) }}
          </div>
          <div class="col-sm-6">
            {{ form_dir.nombre_via.label(class_="pl-3") }}
            {{ form_dir.nombre_via(class_="form-control form-control-user", readonly=true) }}
          </div>
          <div class="col-sm-3">
            {{ form_dir.nro_via.label(class_="pl-3") }}
            {{ form_dir.nro_via(class_="form-control form-control-user", readonly=true) }}
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-3">
            {{ form_dir.portalescalotros_via.label(class_="pl-3") }}
            {{ form_dir.portalescalotros_via(class_="form-control form-control-user", readonly=true) }}
          </div>
          <div class="col-sm-3">
            {{ form_dir.piso_nroletra_via.label(class_="pl-3") }}
            {{ form_dir.piso_nroletra_via(class_="form-control form-control-user", readonly=true) }}
          </div>
          <div class="col-sm-6">
            {{ form_dir.ciudad_via.label(class_="pl-3") }}
            {{ form_dir.ciudad_via(class_="form-control form-control-user", readonly=true) }}
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-2">
            {{ form_dir.cp_via.label(class_="pl-3") }}
            {{ form_dir.cp_via(class_="form-control form-control-user", readonly=true) }}
          </div>
          <div class="col-sm-5">
            {{ form_dir.provincia_via.label(class_="pl-3") }}
            {{ form_dir.provincia_via(class_="form-control form-control-user", readonly=true) }}
          </div>
          <div class="col-sm-5">
            {{ form_dir.pais_via.label(class_="pl-3") }}
            {{ form_dir.pais_via(class_="form-control form-control-user", readonly=true) }}
          </div>
        </div>

        <div class="row text-center">
          <div class="col-3">
            <a id="mismaDireccion" class="btn btn-block btn-primary mr-5 text-white font-weight-bold">
              Dejar esta Direcci&oacute;n
            </a>
          </div>
          <div class="col-3">
            <a id="cambiarDireccion" class="btn btn-block btn-warning mr-5 text-white font-weight-bold"
              data-toggle="modal" data-target="#myModal">
              Modificar Direcci&oacute;n actual
            </a>
          </div>
          <div class="col-3">
            <a id="nuevaDireccion" class="btn btn-block btn-success mr-5 text-white font-weight-bold"
              data-toggle="modal" data-target="#myModal">
              Crear Nueva Direcci&oacute;n
            </a>
          </div>
          <div class="col-3">
            <a id="usarDireccion" class="btn btn-block btn-info mr-5 text-white font-weight-bold" data-toggle="modal"
              data-target="#myModal">
              Usar otra Direcci&oacute;n existente
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- The Modal -->
    <div tabindex="-1" class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        </div>
      </div>
    </div>

  </div>
</div>
<!--end container-fluid-->
{% endif %}
{% endif %}