<!-- app/templates/base.html -->

<!DOCTYPE html>
<html lang="en">

{# incluir cabecera #}
{% include "home/_header.html" %}

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

{% block body %}
{% endblock body %}

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">¿Listo para salir?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>

      <div class="modal-body">Haz clic en "Salir" para finalizar la sesi&oacute;n. "Cancelar" vuelve a la p&aacute;gina que estabas.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
          <a class="btn btn-primary" href="{{ url_for('auth.logout') }}">Salir</a>
        </div>
      </div>
    </div>
  </div>

{# incluir js scripts #}
{% include "home/_jsincludes.html" %}

</body>
</html>
