<!-- app/templates/extras/parentezcos/parentezco.html -->

{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
    {% if add_parentezco %}
        Agregar Parentezco
    {% else %}
        Modificar Parentezco
    {% endif %}
{% endblock %}
{% block body %}
<div class="content-section">
 <div class="outer">
    <div class="middle">
      <div class="inner">
        <div class="center">
            {% if add_parentezco %}
                <h1>Agregar Parentezco</h1>
            {% else %}
                <h1>Modificar Parentezco</h1>
            {% endif %}
            <br/>
            {{ wtf.quick_form(form) }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}