<!-- app/templates/extras/estadosciviles/agregar_editar_estadocivil.html -->

{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% if add_estadocivil %}
{%    set modo = 'Agregar' %}
{% else %}
{%    set modo = 'Modificar' %}
{% endif %}

{% block title %}
        {{modo}} Estado Civil
{% endblock %}

{% block body %}
 <!-- Basic Card Example -->
 <div class="col-1"></div>
 <div class="card shadow mb-4 col-10">
    <div class="card-header py-3">
      <h4 class="m-0 font-weight-bold text-primary text-center">        {{modo}} Estado Civil      </h4>
    </div>
    <div class="card-body">
        <form class="user" method="POST" role="form" action="">
            {{ form.csrf_token }}
            <div class="form-group">
              {{form.nombre_ec.label}}
              {{ form.nombre_ec(class_="form-control form-control-user") }}
            </div>
            <div class="form-group">
              {{form.descripcion_ec.label}}
              {{ form.descripcion_ec(class_="form-control form-control-user") }}
            </div>
            <div class="row">
            <div class="col-4"></div>
            <div class="col-4"><input type="submit" id="submit" name="submit" class="btn btn-primary btn-user btn-block" value={{modo}} /></div>
            <div class="col-4"></div>
            </div>
          </form>

          </div>
        </div>
        <div class="col-1"></div>
{% endblock %}