<!-- app/templates/extras/estadosciviles/agregar_editar_estadocivil.html -->

{% set nombre = "Estado Civil" %}
{% if add_estadocivil %}
{% set modo = 'Agregar' %}
{% else %}
{% set modo = 'Modificar' %}
{% endif %}


<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-2 alert alert-info"> {{modo}} {{nombre}} </h1>
  <div class="col-12">
    <div class="card shadow">
      <div class="card-header py-3">Datos</div>
      <div class="card-body">
        <form class="user" method="POST" role="form" action="">
          {{ form.csrf_token }}
          <div class="form-group">
            {{form.nombre_ec.label}}
            {{ form.nombre_ec(class_="form-control form-control-user") }}
          </div>
          <div class="form-group">
            {{form.descripcion_ec.label}}
            {{ form.descripcion_ec(class_="form-control form-control-user") }}
          </div>
          <div class="row">
            <div class="col-2"></div>
            <div class="col-4"><input type="submit" id="submit" name="submit" class="btn btn-primary btn-user btn-block"
                value="Guardar" /></div>
            <div class="col-4"><input type="button" class="btn btn-danger btn-user btn-block"
                  value="Cancelar" onclick="location.href='{{ url_for("extras.ver_estadosciviles")}}'" /></div>
            <div class="col-2"></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>