<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Estados Civiles</h1>
    <p class="mb-4">En esta secci&oacute;n se puede crear, modificar y borrar los estados civiles que
        postariormente se asociar&aacute;n a miembros de la iglesia</a>.</p>
        {% with errors = get_flashed_messages(category_filter=["db"]) %}
        {% if messages %}
          {{ message }}
        {% endif %}
      {% endwith %}
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Estados Civiles actualmente en la Base de Datos</h6>
        </div>
        {% if estadosciviles %}
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
                    <thead class="thead-dark">
                        <tr class="text-center">
                            <th scope="col">Id</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Descripci&oacute;n</th>
                            <th scope="col"># de Personas</th>
                            <th scope="col">Modificar</th>
                            <th scope="col">Borrar</th>
                        </tr>
                    </thead>
                    <tfoot class="thead-dark">
                        <tr class="text-center">
                            <th scope="col">Id</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Descripci&oacute;n</th>
                            <th scope="col"># de Personas</th>
                            <th scope="col">Modificar</th>
                            <th scope="col">Borrar</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for estadocivil in estadosciviles %}
                        <tr>
                            <td scope="row" class="text-center"> {{ estadocivil.id }} </td>
                            <td> {{ estadocivil.nombre_estado }} </td>
                            <td> {{ estadocivil.descripcion_estado }} </td>
                            <td class="text-center">
                                {% if estadocivil.miembros %}
                                {{ estadocivil.miembros|count() }}
                                {% else %}
                                0
                                {% endif %}
                            </td>
                            <td class="text-center">
                                <a href="{{ url_for('extras.modif_estadocivil', id=estadocivil.id) }}">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </td>
                            <td class="text-center">
                                <a href="{{ url_for('extras.borrar_estadocivil', id=estadocivil.id) }}">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% else %}
        <div class="text-center">
        <h3> No se han agregado Estados Civiles. </h3>
        <hr class="intro-divider">
        </div>
    {% endif %}

    <div class="col-12 text-center">
        <button onclick="window.location.href='{{url_for("extras.crear_estadocivil")}}'" class="text-center btn btn-primary btn-icon-split btn-lg">
            <span class="icon text-white-50">
                <i class="fa fa-plus centered"></i>
            </span>
            <span class="text">Agregar Estado Civil</span>
        </button>
    </div>

</div>
<!-- /.container-fluid -->